.App {
  background: #d9cfc1;
  text-align: center;
  padding: 20px;
}

.App-logo {
  max-width: 200px;
  border-radius: 99px;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.App-header {
  margin: 40px 0;
}

.App h1 {
  font-size: 40px;
  padding: 20px 0;
}

.App-footer {
  margin-top: 50px;
  font-size: 18px;
  color: #888;
}
