.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}

.Dictionary input {
  width: 75%;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid;
}
